@use '../../base/mixins' as *;

.container {
  @include flex;
  @include size(40px, 400px);
  @include transition;
  background: rgba(255, 255, 255, 0.1);
  border-top: 3px solid white;  
  color: rgb(255, 255, 255);
  cursor: pointer;
  flex-flow: row wrap;
  gap: 20px;
  overflow: hidden;
  padding: 10px;
  position: relative;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  ion-icon {
    top: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: absolute;
    right: 4px;
    opacity: 1;
  }

  h5 {
    @include flex;
    width: 100px;
    // background: #000;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 11px;
    font-family: Inter, Outfit, sans-serif;
  }
}
