@use '../../../base/mixins' as *;
@use '../../../base/colors' as c;

.container {
  @include flex(flex-start, space-between);
  @include size(14rem);
  // @include transition;
  background-size: cover;
  border-radius: 8px;
  flex-flow: column wrap;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-family: Inter, Outfit, sans-serif;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  h3 {
    text-shadow: 0 3px 6px rgb(0, 0, 0);
    font: {
      size: 18px;
      letter-spacing: 0.1em;
      family: Inter;
      weight: 500;
    }
  }

  h4 {
    text-shadow: 0 3px 6px rgb(0, 0, 0);
    font: {
      size: 16px;
      letter-spacing: 0.1em;
      family: Inter;
      weight: 300;
    }
  }

  h5 {
    font: {
      size: 9px;
      weight: 200;
    }
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  h7 {
    font-size: 10px;
    text-transform: uppercase;
  }
}

.header {
  @include size(auto, 50%);
}

.tags {
  @include flex(center, flex-start);
  @include size(auto);
  // background: #000;
  gap: 6px;
  flex-flow: row wrap;
}