@use '../base/mixins' as *;
@use '../base/colors' as c;

.container {
  @include size(100vh, auto);
  background: rgb(255, 255, 255);
    // background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.2)), url('http://downloads.bungie.net/images/Wallpapers/S15/JB_Marathon_Hunter_TWAB_4K.jpg');
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.2)), url('https://images6.alphacoders.com/116/1168143.jpg');
  background-size: cover;
  // padding: 10px;
}

.sidebar {
  @include flex;
  @include size(100%, 13rem);
  padding: 10px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.13) 40%, rgba(255, 255, 255, 0.555));
  backdrop-filter: blur(40px);

}

.content {
  @include flex;
  @include size(100vh, auto);
  // flex-direction: column;

  overflow: hidden;
}

.right {
  @include flex(flex-start, flex-start);
  @include size(96vh);
  // background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.2)), url('https://images6.alphacoders.com/116/1168143.jpg');

  background-color: rgba(236, 236, 236, 0.144);
  backdrop-filter: blur(50px);
  // min-height: 86vh;
  margin-top: 40px;
  padding: 10px;
  gap: 6px;
  flex-direction: column;
  overflow-y: scroll;
}
.profileInfo {
  @include flex;
  @include size(40rem);
  color: white;
  flex-flow: row wrap;
  margin-bottom: auto;
  // background: #000;
  gap: 30px;
}

.info {
  @include flex(center, space-between);
  @include size(18rem);
  flex-flow: column wrap;
  padding-top: 20px;
 text-align: left;
  
  h2 {
    font: {
      family: Inter, Outfit, sans-serif;
      size: 24px;
      weight: 600;
    }
    
    ion-icon {
      position: absolute;
      font-size: 12px;
      color: c.$ac-gold;
    }
  }
  h6 {
    font-weight: 100 !important;
    font-size: 10px;
    letter-spacing: 0.03rem;
  }
}

.picture {
  border-radius: 50vw;
}

.interaction {
  @include flex;
  @include size;
  gap: 6px;

  h4 {
    @include flex;
    font-family: Inter, sans-serif;
    gap: 10px;
    cursor: pointer;
  }

  ion-icon {
    @include transition;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;

    &:hover { opacity: 0.6; }
  }
}

.characters__container {
  @include flex;
  @include size;
  flex-direction: column;
  gap: 4px;

  h3 {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-left: auto;
    width: 68%;

    &:last-child {
      color: c.$light-level;
      font-weight: 600;
      font-size: 12px;

    }
  }
}

.trials_container, .crucible_container {
  @include flex(center, flex-start);
  @include size;
  gap: 6px;
  // padding: 6px;
}
