@use '../base/mixins' as *;
@use '../base/colors' as c;

.container {
  @include flex;
  @include size(auto, 90%);
  
  background: white;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 13px, rgba(0, 0, 0, 0.24) 0px 1px 12px;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  max-height: 500px;
  left: 5%;
  bottom: 7rem;
  position: absolute;
}

.search {
  @include size(auto);
  overflow-y: auto;
  // background: rgb(231, 231, 231);
  h6 {
    padding-bottom: 10px;
    font-weight: 300;
    span {
      // color: c.$ac-main;
      font-weight: 600;
    }
  }
}

.searchList {
  @include flex(center, flex-start);
  @include size;
  flex-flow: row wrap;
  gap: 1px;  
}

.categories {
  @include flex;
  @include size(40%);
  flex-flow: row wrap;
  gap: 10px;
  div {
    @include flex;
    @include size(80px,49%);
  background: rgb(231, 231, 231);
  }
}

.notFoundImage {
  @include flex;
  @include size;
  flex-direction: column;
}