@use '../base/mixins' as *;
@use '../base/colors' as c;

.loading {
  @include size(80px, 49.3%);
  background: rgb(230, 230, 230);
  border-radius: 8px;
}

.container {
  @include flex;
  @include size(auto, 94%);
  
  background: rgb(255, 255, 255);
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 4px;
  flex-direction: column;
  left: 3%;
  max-height: 400px;
  padding-bottom: 10px;
  position: absolute;
  top: 91px;

  ion-icon[ id="platform"] { 
    @include transition;
    background: transparent;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    &:hover {
      opacity: 0.95;
    }
  }

  h6 {
    font-weight: 300;
    width: 100%;
    padding: 10px;
    span {
      // color: c.$ac-main;
      font-weight: 600;
    }
  }
}

.nameandcode {
  @include flex;
}

.search {
  @include size(auto);
  border-radius: 8px;
  overflow-y: auto;
  padding: 10px;
}

.searchList {
  @include flex(center, flex-start);
  @include size;
  flex-flow: row wrap;
  gap: 6px;  
}

.categories {
  @include flex;
  @include size(40%);
  flex-flow: row wrap;
  gap: 10px;

  div {
    @include flex;
    @include size(80px,49%);
    background: rgb(231, 231, 231);
  }
}

.notFoundImage {
  @include flex;
  // @include size;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding-block: 40px;
  h5 {
    // border-bottom: 1px solid whitesmoke;
    font-weight: 300;

    &:last-child {
      font-weight: bold;
    }
  }
}
