@use '../base/mixins' as *;

.header {
  @include flex(center, space-between);
  @include size(50px);
  // background-color: rgb(255, 255, 255);
  // backdrop-filter: blur(5px);
  padding-inline: 20px;
  position: fixed;
  top: 0;
  z-index: 99;

  ul {
    @include flex;
    background-color: rgb(255, 255, 255);
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    flex-flow: column nowrap;
    border-radius: 3px;
    margin-top: 90px;
    padding-block: 6px;
    // gap: 10px;
    color: rgb(46, 46, 46);

    li {
      @include flex(center, flex-start);
      @include size(14px);
      gap: 6px;
      padding: 12px 10px;

      // border-bottom: 1px solid rgb(226, 226, 226);
      cursor: pointer;
      &:hover {
        background-color: whitesmoke;
      }
      &:last-child {
        border-bottom: none;
      }
    }

    h5 {
      font-weight: 400;
      font-size: 11px;
    }
  }
  
  ion-icon {
    @include transition;
    cursor: pointer;
    color: rgb(255, 255, 255);

    &:hover { 
      opacity: 0.8;
    }
  }
  h4 {
    color: white;
    font-weight: 400;
    font-size: 14px;
  }
}

.language {
  @include flex;
  gap: 10px
}

.right {
  @include size(100%, auto);
  @include flex(center, space-between);
  gap: 20px;

  button {
    background: none;
    padding: 0;
    color: white;
    cursor: pointer;
  }
}


.MuiAvatar-root {
  height: 28px !important;
  width: 28px !important;
}
