@use '../base/mixins' as *;

.container {
  @include flex(center, flex-start);
  @include size(3.6rem, auto);
  @include transition(0.1s);
  background: rgba(255, 255, 255, 0.1);
  border-top: 3px solid white;
  color: rgb(255, 255, 255);
  cursor: default;
  font-family: Inter, Poppins, sans-serif;
  gap: 6px;
  padding: 10px;
  min-width: 7rem;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  div {
    @include flex(flex-start);
    flex-direction: column;
  }

  h3 {
    font-weight: 600;
    font-size: 1.1rem;
  }
  h6 {
    font-family: Outfit, serif;
    font-weight: 300;
  }
  img {
    @include size(26px, 26px);
  }
}

