@use '../base/mixins' as *;

.container {
  @include flex(center, flex-start);
  @include size(60px, 145px);
  // flex-direction: column;
  background: transparent;
  border-bottom: 1px solid rgb(185, 185, 185);
  color: white;
  // border-radius: 20px;
  font-family: Inter, Poppins, sans-serif;
  padding: 10px;
  gap: 6px;

  div {
    @include flex(flex-start);
    flex-direction: column;
  }

  h3 {
    font-weight: 600;
    font-size: 1.1rem;
  }
  h6 {
    font-family: Outfit, serif;
    font-weight: 100;
  }
  img {
    @include size(24px, 24px);
  }
}