@use '../base/mixins' as *;

.container {
  @include flex;
  @include size(20px, auto);
  background: transparent;
  border: 1px solid rgb(255, 0, 43);
  color: rgb(255, 0, 43);
  border-radius: 8px;
  padding-inline: 10px;

  h5 {
    font-weight: 300;
  }
}


