@use '../base/mixins' as *;
@use '../base/colors' as c;

.container {
  @include flex(center, space-between);
  @include size(86px, 600px);
  backdrop-filter: blur(12px);
  background: rgb(255, 255, 255);
  border-left: 1px solid rgb(200, 200, 200);
  border-radius: 50vh;
  border-top: 1px solid rgb(200, 200, 200);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 4px;
  flex-flow: row wrap;
  margin: auto;
  margin-top: -770px;
  padding-inline: 16px;
  position: relative;
  z-index: 1;

  ion-icon { 
    @include transition;
    background: linear-gradient(45deg, c.$ac-main, rgb(18, 42, 255));
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 16px;
    &:hover {
      opacity: 0.95;
    }
  }

  input {
    @include size(60%);
    @include transition(0.6s);
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-family: Sofia Pro, Poppins, Inter, sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 600;
    outline: none;
    padding-left: 20px;
    text-align: center;

    &::placeholder {
      color: rgb(177, 177, 177);
      opacity: 0.7;
      font-weight: 200;
    }
  }
  nav {
    @include flex;
    @include size(50%);

    h4 {
      @include flex;
      @include size(100%);
      @include transition;
      // border-radius: 50vh;
      // border-bottom: 3px solid transparent;
      color: rgb(10, 10, 10);
      cursor: pointer;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.05rem;
      
      &:hover {
        opacity: 0.6;
      }
      &:last-child {
        border-right: none;
      }
    }

  }
}

.hero-searchbar__inputnav {
  @include size(80%, 86%);

  padding-left: 20px;
}
