@use '../base/mixins' as *;
@use '../base/colors' as c;

.container {
  @include flex;
  @include size(75px, 49.4%);
  @include transition;
  background-size: cover;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  flex-direction: column;
  padding: 10px;
  padding-left: 56px;
  gap: 10px;
  opacity: 0.9;

  h6 {
    // background-color: rgb(156, 156, 156);
    @include flex(center, flex-start);
    @include size;
    gap: 4px;    
  }

  h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding-left: 8.5px;
  }

  .title {
    @include flex(center, space-between);
    @include size;
  }

  &:hover {
    opacity: 1;
  }
}
