@use '../base/mixins' as *;
@use '../base/colors' as c;

.container {
  @include size(80px, 49.3%);
  @include transition;
  background-size: cover;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  flex-direction: column;
  padding: 10px;
  padding-left: 70px;
  gap: 6px;
  opacity: 0.9;

  div {
    @include flex(center, space-between);
  }
  
  h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;   
  }


  &:hover {
    opacity: 1;
  }
}
