@use '../base/mixins' as m;
@use '../base/colors' as c;


.container {
  @include m.flex(center, space-between);
  @include m.size(24px, 60px);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50vw;
  font-size: 0.76em;
  font-family: Inter, Outfit, sans-serif;
  padding-inline: 4px;
  text-align: center;
}

.tag span:last-child {
  font-size: 0.94em;
  text-transform: uppercase;
}

.tag h5 {
  font-size: 0.65em;
  text-transform: uppercase;
}

.tag h5 ion-icon {
  font-size: 1.7em;
}
