@use '../base/mixins' as *;
@use '../base/colors' as c;


.container {
  @include flex(center, space-between);
  @include size(24px, 66px);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  // color: rgba(106, 25, 255, 0.712);
  border-radius: 50vw;
  font: {
    family: Inter, Outfit, sans-serif;
    size: 0.76em;
    // weight: 400;
  }
  padding-inline: 4px;
  text-align: center;
  text-transform: uppercase;
  
  h5 {
    font-size: 0.65em;
    text-transform: uppercase;

    ion-icon {
      font-size: 1.4em;
    }
  }
}

