// Colors
$white: rgb(255, 255, 255);
$black: rgb(14, 14, 14);
$text-main: rgb(32, 32, 32);

// Background
$bg-primary: rgb(255, 255, 255);
$bg-secondary: rgb(238, 238, 238);

$bg-header: rgba(0, 0, 0, 0.3);
$bg-dark-primary: rgb(13, 12, 14);
$bg-dark-secondary: rgb(34, 32, 36);

$bg-trials: rgb(17, 14, 5);

// Tag
$tag-neutral: rgba(4, 4, 4, 0.9);
$tag-victory: rgb(98,0, 255);
$tag-defeat: rgb(216, 98, 98);

// Titles
$alpha-team: rgb(124, 158, 225);
$bravo-team: rgb(255, 103, 70);
  
  /* Accent color */
$ac-main: rgb(98,0, 255);    
$ac-secondary: rgb(147, 255, 104);
// rgb(112, 105, 218)
$ac-greenish: rgb(154, 255, 216);
$ac-white: rgb(255, 255, 255);
$ac-gold: rgb(224, 190, 37);
$ac-coral: rgb(253, 33, 63);

//
$xbox-color: rgb(15, 118, 15);
$psn-color: rgb(45, 100, 230);
$steam: rgb(243, 243, 243);

//
$player-card: rgba(32, 27, 58, 0.4);