@use 'base/colors' as c;
@use 'base/animations';
@use 'base/fonts';
@use 'base/mixins';

@use 'button';
@use 'components/searchbar.module';
@use 'components/header.module';
@use 'components/login.module';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Outfit, Inter, Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

::selection {
  background-color: c.$ac-main;
  color: white;
}
